body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #454545;
}

.width-container {
	width: 1180px;
	padding: 0 10px;
	margin: 0 auto;
}

.left {
	float: left
}

.right {
	float: right
}

.tcenter {
	text-align: center
}

.group:before,
.group:after {
  content: "";
  display: table;
} 
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 */
}